/*
-------------------------------
            Header 
-------------------------------
*/

.header {
    z-index: 100;
    width: 100%;
    height: 10rem;
    position: absolute;
    left: 0;
}

.header-name {
    z-index: 101;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 8rem;
    top: calc(50% - 2px);
}

.header-name a {
    display: block;
    border: none;
    padding: 0;
    outline: 0;
}

.header-nav_wrap {
/*    padding-left: 25rem;*/
    text-align: center;
}

.header-nav {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}


.header-nav a {
    text-decoration: none;
    color: white;
}

.header-nav a:hover, .header-nav a:focus {
    color: darkgray;
}

.header-nav li {
    display: inline-block;
    padding-left: 0;
    margin: 0 1rem;
}

/*
-------------------------------
        Main background 
-------------------------------
*/

.main {
    height: 100vh;
    width: 100vw;
    background: rgb(25,25,27);
/*    background: black;*/
}

.shadow {
    box-shadow: 5px 10px 20px white inset;
}

.m-background {
    position: absolute;
    height: 90vh;
    width: 90vw;
    top : 5vh;
    left : 5vw;
    box-shadow: 0px 0px 10px 5px #ffffff;
    border-radius: 1rem;
    
}

.mb-red {
    position: absolute;
    height: 90vh;
    width: 45vw;
    background: rgb(200,0,46);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.mb-black {
    position: absolute;
    height: 90vh;
    left: 45vw;
    width: 45vw;
/*    background: black;*/
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


#matrix-bg {
    z-index: 100;
    height: inherit;
    width: inherit;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

/*
-------------------------------
        Main content 
-------------------------------
*/

.main-left-content {
    height: 100%;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
    padding-bottom: 25vh;
    position: relative;
}

.main-left-content h1 {
    font-size: 10rem;
    font-weight: 600;
    left: 10vw;
    letter-spacing: -.04em;
    line-height: 1;
/*    color: hsla(345, 93%, 44%, 1);*/
    margin-bottom: 0;
    position: relative;
    width: 40vw;
}

#word {
    left : calc(0.1 * 45vw);
}

.main-left-content-about {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    top: 1.444rem;
    color: white;
    left: 25vw;;
    padding-left: 3.6em;
    position: relative;
}

.main-left-content-about::before {
    content: "";
    display: block;
    height: 1px;
    width: 2.4em;
    background-color: #202225;
    position: absolute;
    left: .5em;
    top: .8em;
}

.main-left-content-about p {
    margin-bottom: calc(2 * 3.2rem);
}


