html,
body {
    height: 100%;
    background: black;
}

.y-center-transform {
    -webkit-transform: translateY(-7vh);
    -ms-transform: translateY(-7vh);
    transform: translateY(-7vh);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#home-heading {
    font-size: 10vw;
    color: aqua;
    font-family: 'Bowlby One SC';
    margin: 0;
}

.cap {
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    border: 0;
    font-family: monospace;
}

.p-a {
    position: absolute;
}

.p-r {
    position: relative;
}

.p-f {
    position: fixed;
}

.b-0 {
    border: 0;
}